<div class="row">
  <div class="col-sm-8">
    <h1><%= @event[:title] %></h1>
    <p><%= @event[:description] %></p>
    <h3 class="mt-5">What our customers say</h3>
    <% for rsvp in @rsvps %>
        <% user = @users_table.where(:id => rsvp[:user_id]).to_a[0] %>

        <div class="media mt-3">
            <% if rsvp[:going] == 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif rsvp[:going] == 2  %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif rsvp[:going] == 3  %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif rsvp[:going] == 4  %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            <% else %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <% end %>

        <div class="media-body ml-3">
          <h5 class="mt-0"><%= user[:name] %></h5>
          <%= rsvp[:comments] %>
        </div>
      </div>
    <% end %>
    <p class="mt-5"><a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">Leave your review</a></p>
  </div>
  <div class="col-sm-4">
    <h3>Location</h3>
    <p><%= @event[:location] %></p>
    <h3>Contact Us</h3>
    <p><%= @event[:contact] %></p>
    <h3>Avg. Rating </h3>
    <% if @avgrtng <= 1.5 %>
          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif @avgrtng <= 2.5  %>
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif @avgrtng <= 3.5  %>
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif @avgrtng <= 4.5  %>
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
        <% else %>
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <% end %>

  </div>
</div>

